.error{
    color: #FF0000;
  }
  .cobs{
    margin: auto;
    width: 40%;
    border: 0.5px solid gray;
    padding: 50px;
    margin-top: 100px !important;
    border-radius: 12px;
  }
  button {
    background-color: #04AA6D;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
  }
  
  button:hover {
    opacity: 0.8;
  }
  ::placeholder { 
    opacity: 1; 
  }
  
  input[type=email], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
  }
  