<div class="example-container">
  <div class="row">
    <div class="content">
      <div class="col-md-12">
        <h2 class="text-center">Details Employee</h2>

        <div class="form-group">
          <input placeholder="User name" name="username" class="form-control" value={{detail_by_id?.username}}
            id="username" [disabled]='true'>
        </div>

        <div class="form-group">
          <input placeholder="First Name" name="firstName" class="form-control" value={{detail_by_id?.firstName}}
            id="firstName" [disabled]='true'>
        </div>

        <div class="form-group">
          <input   placeholder="Last name" name="lastName" class="form-control" value={{detail_by_id?.lastName}}
            id="lastName" [disabled]='true'>
        </div>

        <div class="form-group">
          <input type="email"   placeholder="Email" name="email" class="form-control" value={{detail_by_id?.email}}
            id="email" [disabled]='true'>
        </div>

        <div class="form-group">
          <input  placeholder="Last name" name="birdDate" class="form-control" value={{detail_by_id?.birdDate}} [disabled]='true'>

        </div>

        <div class="form-group">
          <input   placeholder="basic Sallary" name="basicSallary" 
            class="form-control" value={{detail_by_id?.basicSallary}} id="basicSallary" [disabled]='true'>
        </div>

        <div class="form-group">
          <input   placeholder="Status" name="status" class="form-control" value={{detail_by_id?.status}} id="staus" [disabled]='true'>
        </div>

        <div class="form-group">
          <input  placeholder="group" name="group" class="form-control" value={{detail_by_id?.group}} id="group" [disabled]='true' > 
        </div>

        <div class="form-group">
          <input   placeholder="Deskripsi" name="Deskripsi" class="form-control" value={{detail_by_id?.description}} [disabled]='true'>

        </div>

        <div>
            <button class="btn btn-secondary" (click)="backList()">Ok</button>
            <button class="btn btn-primary" (click)="onEditLayer(detail_by_id?.id)">Edit Employee</button>
        </div>

      </div>
    </div>
  </div>
